<link rel="stylesheet" href="../css/profile.css">

<div id="main-body">
    <div class="wrapper">
        <div class="user">
            <h1 class="name">
                <u>{{dataValues.screen_name}}</u>
            </h1>
            <img id="profilePic" src={{dataValues.image}}>


            <div id="gameView">
                <h2 class="title">
                    Games
                </h2>

                {{#each Posts}}
                <img class="gamePreview" src={{cover.url}}>
                <br>
                <br> {{/each}}
            </div>
        </div>

        <div class="reviews">
            <h2 id="top-head" class="smol">
                Reviews from <u>{{dataValues.screen_name}}</u>
            </h2>
            {{#each Posts}}
            <div class="smol">
            <h3 class="pads">Review for : {{gameName}}</h3>
            <h4 class="pads">Title : {{title}}</h4>
            <h5 class='pads'>Rating : {{rating}}</h5>
            <p class="pads">Review : {{body}}</p>
            <button class='delete-post' id="{{id}}" name='{{gameName}}'>Delete Review</button>
            <button class="edit-post" id="{{id}}">Edit Review</button>
            </div>
            <br>
            {{/each}}
        </div>

    </div>

</div>
</div>